html {
  box-sizing: border-box; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  scroll-behavior: smooth; /* 4 */
}

*,
*::before,
*::after {
  box-sizing: border-box; /* 1 */
}

body {
  margin: 0; /* 5 */
  padding: 0; /* 5 */
  line-height: 1.6; /* 7 */
  min-height: 100vh; /* 10 */
  text-rendering: optimizeLegibility; /* 11 */
  -webkit-font-smoothing: antialiased; /* 12 */
  -moz-osx-font-smoothing: grayscale; /* 12 */
}